body {
    margin: 0;
    background-color: #EEEEEE;
}

.header1 {
    padding-left: 25%;
    background-color: #EEEEEE;
}

.header2 {
    text-align: right;
    background: #CC3333;
}

/* ヘッダのボタンcss サービス情報やアップデート情報など */
.headerButton {
    font-size: 130%;
    border: none;
    color: white;
    background: transparent;
    padding: 1%;
}

.headerButton:hover {

    color: red;
    background-color: white;
}

/*Loginフォーム全体を中央寄せ*/
.form {
    text-align: center;
}

/*入力フォームのpalceholder位置とmargin設定*/
.inputString {
    text-align: center;
    margin: 2%;
    outline: none;
}

/*ログインフォームを中央寄せ　枠は丸み*/
.login {
    /* animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border: solid 3px #CCFFFF;
    border-radius: 10px;
}

/* @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */


/* アカウント作成ボタンのcss */
input#creatAccount {
    text-align: center;
    color: black;
    margin: 2%;
    border: none;
    background: transparent;
}

/* アカウント作成ボタンのマウスオーバ時の色変更 */
input#creatAccount:hover {
    color: #AAAAAA;
}