body {
    margin: 0;
    background-color: #EEEEEE;
}

.header1 {
    padding-left: 25%;
    background-color: #EEEEEE;
}

.header2 {
    text-align: right;
    background: #CC3333;
}

/* ヘッダのボタンcss サービス情報やアップデート情報など */
.headerButton {
    font-size: 130%;
    border: none;
    color: white;
    background: transparent;
    padding: 1%;
}

.headerButton:hover {

    color: red;
    background-color: white;
}
